#empty,
#clear {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}

#empty1,
#clear1 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty2,
#clear2 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty3,
#clear3 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}

#empty4,
#clear4 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty5,
#clear5 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty6,
#clear6 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty7,
#clear7 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty8,
#clear8 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty9,
#clear9 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty10,
#clear10 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty11,
#clear11 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty12,
#clear12 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty13,
#clear13 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty14,
#clear14 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty15,
#clear15 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty16,
#clear16 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty17,
#clear17 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty18,
#clear18 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty19,
#clear19 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty20,
#clear20 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty21,
#clear21 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty22,
#clear22 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#empty23,
#clear23 {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
#protected {
		color:#1A4D80;
		font-size:14px;
		font-weight:900;
		text-shadow:0 1px 0 rgba(250,250,250,0.5);
		background:#3295CC;
		background-image:linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-moz-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		background-image:-webkit-linear-gradient(bottom, #3296CC 35%, #4AAEE4 97%);
		border:1px solid #23698C;
		border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		padding:10px 15px;
		cursor:pointer;
		}
table, th, td
	{
		border:1px solid;!important
		padding: 0px;!important
		color: white;!important
	}
	}
#body2
	{
		background-color:#3366FF;!important
	}
#body1
	{
		background-color:#ffffff;
	}
